.game{
    display: inline-block;
    border: 1px solid #1c99ff;
}

.row{
    display: flex;
}

.cell{
    width: 30px;
    height: 30px;
    /* border: 1px solid rgb(0, 195, 255); */
}

.snake{
    background-color: green;
    border-radius: 100%;
}

.food{
    background-color: transparent;
}

.head{
    background-color: transparent;
}

.btn{
    color: black;
    font-weight: bold;
    padding: 12px 24px;
    margin-top: 12px;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(45deg, #01aaff, #c300ff);
}

.btn:hover {
    background: linear-gradient(90deg, #0083c5, #8a00b4);
}
